services:
  weather-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: lesence-weather-app
    restart: unless-stopped
    networks:
      - proxy
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy
      - traefik.http.routers.lesence-weather.rule=Host(`${DOMAIN_WEATHER}`)
      - traefik.http.routers.lesence-weather.entrypoints=websecure
      - traefik.http.routers.lesence-weather.tls.certresolver=le
      - traefik.http.services.lesence-weather.loadbalancer.server.port=80

networks:
  proxy:
    external: true
    name: proxy
